body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: clip;
}


.container {
  height: 100vh;
}

.hidden {
  opacity: 0;
}

#github {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
}

#github img {
  filter: brightness(15%);
}
