body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-top: 10px;
}

.grid-item {
  transition: all 0.2s;
  cursor: pointer;
  height: min(5vh, 5vw);
  width: min(5vh, 5vw);
  border: 1px solid dimgrey;
}

.grid-item:hover {
  background-color: #444;
}

/* Second most important */
div.grid-item.enabled {
  background-color: yellow;
}

/* Most important */
.grid-item.active-item {
  background-color: #AAA !important; /* important here so it overwrites enabled and active column */
}

/* Second least important */
.grid-item.active-neighbor {
  background-color: #666;
}

/* Second least important */
.grid-item.active-second-neighbor {
  background-color: #222;
}

/* Least important */
.active-column {
  background-color: #111;
}

#play-button {
  cursor: pointer;
  border: 1px solid dimgrey;
  height: 6vh;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in;
}

#play-button:hover {
  background-color: #222;
  position: relative;
}

#play-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6vh solid #BBB;
  border-top: 3vh solid transparent;
  border-bottom: 3vh solid transparent;
  transition: opacity 0.3s;
}

#stop-square {
  position: absolute;
  width: 6vh;
  height: 6vh;
  background-color: #BBB;
  transition: opacity 0.3s;
}

.hidden {
  opacity: 0;
}
