body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: clip;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-top: 10px;
}

.grid-item {
  transition: all 0.2s;
  cursor: pointer;
  height: min(5.5vh, 6vw);
  width: min(5.5vh, 6vw);
  border: 1px solid black;
  background-color: #111;
  box-sizing: border-box;
}

.grid-item:hover {
  background-color: #444;
}

/* Second most important */
div.grid-item.enabled {
  background-color: yellow;
}

/* Most important */
.grid-item.active-item {
  background-color: #AAA !important; /* important here so it overwrites enabled and active column */
}

/* Second least important */
.grid-item.active-neighbor {
  background-color: #666;
}

/* Second least important */
.grid-item.active-second-neighbor {
  background-color: #222;
}

/* Least important */
.active-column {
  background-color: #222;
}

.container {
  height: 100vh;
}

.hidden {
  opacity: 0;
}

#github {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
}

#github img {
  filter: brightness(15%);
}
