@import './variables.scss';

#save-modal {
  display: flex;
  flex-direction: column;
  min-height: 21rem; // This is so the save secret blurb is always inside the box. text :sigh

  & #connections-readout {
    align-self: flex-start;
    position: absolute;
    margin: 3.5vmin 0;
    padding: 0rem 0.3rem;
    background-color: $dark-grey;
    border-radius: 100%;
    color: $light-grey;
    border: 1px solid $light-grey;
  }

  & .close-button {
    align-self: flex-end;
    position: absolute;
    padding: 1.5vmin 3vmin;
    background-color: $dark-grey;
    border-radius: 0.5vmin;
    color: $light-grey;
  }

  & hr {
    width: 100%;
  }

}

#save-modal-body {
  // General for an input and a submit button
  & .input-group {
    display: flex;

    input {
      padding: 3vmin;
      text-align: center;
      border-top-left-radius: 2vmin;
      border-bottom-left-radius: 2vmin;
      flex-grow: 5;
      border: none;
      width: 80%;

      &:focus-visible {
        outline: none;
      }
    }

    button {
      padding: 3vmin;
      flex-grow: 1;
      border-top-right-radius: 2vmin;
      border-bottom-right-radius: 2vmin;
      border: none;
      height: 100%;
      width: 10vmin;
      cursor: pointer;
      background: $light-grey;
      color: white;
      min-width: max-content;
    }
  }
}

